<header>
    <div class="panel">
        <div class="rout">
            <ul>
                <a class="home" href="/index">Home</a>
                <a class="new_plan" href="/new">New plan</a>
                <a class="contacts" href="/contacts">Contacts</a>
                <a class="about" href="/about">About</a>
                <a class="login_logout" href="/logout">Logout</a>
            </ul>
        </div>
    </div>
</header>