<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/about.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
</head>
<body>
   
    <%- include('../templates/header.ejs') %>

    <container>
        <div class="info">
            <p> This application will help you to plan your immediate future clearly.</p>
            <p> The application interface is quite simple and intuitive. To view your plans, go to the "Home" tab, and in order to add a new plan, you need to go to "New plan", fill in the fields and click on "Submit". Enjoy your use)</p>
        </div>
    </container>

</body>
</html>