<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/contacts.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
</head>
<body>

    <%- include('../templates/header.ejs') %>

    <container>
        <div class="div_contacts">
            <div class="tg">
                <a  class="tg_link" target="_blank" href="https://t.me/adw1zz">Telegram </a><a><--click</a>
            </div>
            <div class="git">
                <a class="git_link" target="_blank" href="https://github.com/adw1zz">GitHub </a><--click</a>
            </div>
            <div class="discord">
                <a class="discord_link" href="#">Discord </a><--click</a>
            </div>
        </div>
    </container>
    

</body>
</html>